/* CSS Document */
header{height:10%;background-color:blue;font-size:18pt}#navlist li{display:inline-block;font-size:16pt;width:16%}#content{font-size:12pt;height:80%;width:100%;background:grey;color:#fff}footer{height:10%;background-color:#000;color:#fff}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
