/* CSS Document */
header
{
	background-color: blue;
	color:white;
	font-size: 18pt;

}

ul
{
	background-color: black;
	color: white;
	font-style: 16pt;
}

#content
{
	font-size: 12pt;
	background-color: white;
	color: white;
}

footer
{
	background-color: black;
	color:white;
}	